.card {
	border-radius: 10px;
	border: 2px solid black;
	box-shadow: inset black 5px 5px 5px 5px;
	padding: 10px 20px;
	margin: 5px 10px;
	width: 100%;
	background-color: #ddaeb6;
}

/* .card-item {
	width: 80vw;
} */
