@import "./styles/styles.scss";

.app {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.button {
	display: inline-block;
	border-radius: 20px;
	padding: 10px 20px;
	color: black;
	font-weight: bold;
	text-align: center;
	font-size: 1.5rem;
	transition: all 0.3s ease-out;
	border: 0px;
}

.button:hover {
	cursor: pointer;
}

.add-button {
	background-color: green;
}

.delete-button {
	background-color: red;
}

.add-button:hover {
	@include darkenColor(green, 5);
}

.delete-button:hover {
	@include darkenColor(red, 10);
}

a:visited,
a:hover,
a {
	text-decoration: none;
	color: inhirit;
}

.total {
	padding: 10px 20px;
	border: 5px solid red;
	border-radius: 20px;
	margin: 20px auto;
	font-size: 1.75rem;
	text-align: center;
	label {
		font-weight: bold;
	}
	span {
		color: green;
	}
}

.download {
	font-size: 1rem;
}
